@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Dancing+Script:wght@700&family=Diphylleia&family=Playfair+Display:ital@0;1&display=swap');

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.pagewrapper {
    display: flex;
    height: 100vh;
}

.left {
    width: 75vw;
}

.right {
    width: 25vw;
    background-color: lightgray;
}

.certificate {
    height: 850px;
    width: 1100px;
    position: relative;
    background-image: url('Tile.png');
    background-size: 15%;
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.line {
    height: 1px;
    width: 20px;
    background-color: #000;
}
h1 {
    font-family: serif;
    font-style: italic;
    font-size: 96px;
    padding-bottom: 400px;
    position: absolute;
}
h2 {
    position: absolute;
    padding-bottom: 300px;
    padding-left: 180px;
}
#achievement {
    background-color: #fff;
    border-style: solid;
    height: 79px;
    width: 795px;
    font-size: 69px;
    font-family:serif;
    position: absolute;
    margin-bottom: 150px;   
}
#stamp {
    position: absolute;
    margin-right: 800px;
    margin-top: 120px;
    width: 160px;
    height: 160px;
    background-position: center;
    background-size: contain;
    background-image:url("STAMP.png");
}
#provider {
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    text-align: start;
    font-size: 32px;
    margin-right: 450px;
    margin-top: 80px;
}
.line {
    position: absolute;
    width: 300px;
    height: 2px;
}
#prov-line {
    margin-right: 320px;
    margin-top: 80px;
}
#date {
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    text-align: start;
    font-size: 26px;
    margin-right: 350px;
    margin-top: 180px;
}
#date-line {
    margin-right: 320px;
    margin-top: 180px;
}
#nameTag {
    background-color: #fff;
    border-style: solid;
    height: 88px;
    width: 400px;
    font-size: 32px;
    font-family:serif;
    position: absolute;
    margin-top: 120px; 
    margin-left: 400px;
    text-align: start;
    padding-left: 20px;
    padding-top: 10px;
    font-family: serif;
    font-style: italic;
    border-top-width: 30px;
}
#name-line {
    margin-left: 320px;
    margin-top: 180px;
}
#recipient {
    position: absolute;
    margin-left: 140px;
    margin-top: 60px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
}
#info {
    display: none;
}


.certificate > div {
    width: 100%;
    height: 100%;
    position: absolute;
}
#topBG {
    height: 69px;
    width: 100%;
}
#topVL {
    height: 69px;
    width: 20px;
    left: 94px;
}
#topHL {
    height: 20px;
    width: 1100px;
    top: 69px;
}
#topAL {
    clip-path: polygon(94px 0px, 197px 0px, 673px 69px, 566px 69px);
}
#topLightPoly {
    clip-path: polygon(197px 0px, 1100px 0px, 1100px 69px, 673px 69px);
}
#topDarkPoly {
    clip-path: polygon(670px 69px, 1100px 0px, 1100px 69px);
}
#topLBG {
    clip-path: polygon(0px 89px, 319px 89px, 0px 268px);
}
#topLAL {
    clip-path: polygon(0px 268px, 319px 89px, 360px 89px, 0px 291px);
}
#topLHL {
    height: 20px;
    width: 198px;
    top: 159px;
}

#tBRPoly {
    clip-path: polygon(883px 661px, 1100px 419px, 1100px 661px);
}
#botHL {
    height: 20px;
    width: 1100px;
    top: 641px;
}
#botRAL {
    clip-path: polygon(883px 661px, 1100px 419px, 1100px 389px, 853px 661px);
}
#botTHL {
    height: 50px;
    width: 1100px;
    top: 661px;
}
#botThree {
    height: 139px;
    width: 1100px;
    top: 711px;
}
#botRLightPoly {
    clip-path: polygon(892px 711px, 1100px 661px, 1100px 850px);
}
#botOne {
    clip-path: polygon(0px 711px, 0px 850px, 514px 850px, 708px 711px);
}
#botTwo {
    clip-path: polygon(0px 711px, 0px 850px, 544px 850px, 738px 711px);
}

.GreyD {background-color: #333333; border-color: #333333;}
.GreyL {background-color: #555555; border-color: #555555;}
.gold-GoldL {background-color: #E3B718; border-color: #E3B718;}
.gold-GoldD {background-color: #886509;}
.gold-PurpL {background-color: #9D62B2;}
.gold-PurpD {background-color: #4D2565;}
.gold-GreyM {background-color: #444444;}

.blue-Pink {background-color: #C33D5D;}
.blue-AquaL {background-color: #43F6E1;}
.blue-AquaD {background-color: #0DC9B3;}
.blue-BlueL {background-color: #12CDD9;}
.blue-BlueM {background-color: #198DCF;}
.blue-BlueD {background-color: #10A5B9;}

.green-LimeL {background-color: #DEF105;}
.green-LimeM {background-color: #A4C716;}
.green-LimeD {background-color: #76A119;}
.green-GreyLL {background-color: #7F7F7F;}
.green-WhiteL {background-color: #FCFFDB;}
.green-WhiteD {background-color: #C8DAAB;}

@media print {
    .right {
        display: none;
    }
}